.idea
.phpunit.cache
build
composer.lock
coverage
docs/.vitepress/cache
docs/.vitepress/dist
phpunit.xml
phpstan.neon
testbench.yaml
vendor
node_modules
.DS_Store
.env
--cache-result/

# Local Netlify folder
.netlify
