<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         colors="true"
         cacheDirectory=".phpunit.cache"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         processIsolation="false"
         stopOnFailure="false"
         executionOrder="random"
         failOnWarning="true"
         failOnRisky="true"
         failOnEmptyTestSuite="true"
         beStrictAboutOutputDuringTests="true"
         backupStaticProperties="false"
>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
